
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: auto;
}
nav{
    font-family: sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: #ffffff;
}
nav ul li{


}
.brand img{
    width: 44px;
}.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-self: center;
    align-items: center;
}
.container{
    min-height: 75;
}
#myProgressBar{
    width: 80vw;
    
}